h1 {
    color:green;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    border: dotted green;
}
h3 {
    font-family: 'PT Sans Narrow', sans-serif;
}
.footer {
    text-align:center;
}
.header img {
    width:100px;
    
}
.header {
    background: #00ff11;
    padding-left: 16px;
    
}
body {
    background: url(" ");
}
.green {
    color: green;
}
.secondpart {
    background: #00ff11;
}
.fourthpart {
    background:#00ff11;
}